<div mat-dialog-title>Summary of {{ data.monthAsText }}</div>

<div mat-dialog-content>

  <div class="row" *ngFor="let user of users">

    <span class="username">{{ user.id | username:usersForPipe }}</span>

    <span class="placeholder"></span>

    <span class="amount grey">{{ user.sum | decimal:'€':',' }}</span>

    <span class="amount"
      [class.positive]="user.sum - splitSum > 0"
      [class.negative]="user.sum - splitSum < 0">
      {{ (user.sum - splitSum) | decimal:'€':',' }}
    </span>

  </div>

  <mat-divider></mat-divider>

  <div class="row">

    <span class="result">Split Sum</span>

    <span class="placeholder"></span>

    <span class="amount grey">{{ splitSum | decimal:'€':',' }}</span>

    <span class="amount"></span>
  </div>

</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
