<div class="content">

  <div class="second-header">

    <div class="title">
      <h2>Users</h2>
    </div>

  </div>

  <div class="list-header">

    <div class="user">Pic</div>

    <div class="username">Username</div>

    <div class="placeholder"></div>

    <div class="admin">Status</div>

    <div class="actions"></div>

  </div>

  <div class="list-container">

    <user-list
      [users]="users">
    </user-list>

  </div>

  <button mat-fab>
    <mat-icon>add</mat-icon>
  </button>
</div>
