<div class="content">

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

    <div class="card">

      <h2>Enter your Credentials.</h2>

      <mat-form-field>
        <input matInput placeholder="Username" type="text" formControlName="username">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" type="password" formControlName="password">
      </mat-form-field>

      <button color="primary" mat-raised-button type="submit">
        Login
        <mat-icon *ngIf="loading">autorenew</mat-icon>
      </button>

    </div>

  </form>

</div>
