<div class="content">

  <!-- <div id="scene">
    <div class="background" data-depth="0.2"></div>
  </div> -->

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

    <mat-card>

      <h3>WG-Manager</h3>

      <mat-form-field>
        <input matInput placeholder="Username" type="text" formControlName="username">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" type="password" formControlName="password">
      </mat-form-field>

      <button color="primary" mat-raised-button type="submit">
        Login
        <mat-icon *ngIf="loading">autorenew</mat-icon>
      </button>

    </mat-card>

  </form>

</div>
