
$white: rgba(255, 255, 255, 1);
$grey-light: rgba(200, 200, 200, 1);
$grey-medium: rgba(143, 143, 143, 1);
$grey-dark: rgba(55, 55, 55, 1);

$status-red: rgba(229, 115, 115, 1);
$status-green: rgba(129, 199, 132, 1);

$purple: #e040fb;
$orange: #ffab40;
$pink: #ff4081;
$blue: #536dfe;
$teal: #69f0ae;
$green: #b2ff59;

@mixin content {
  height: calc(100vh - 84px);
  overflow-y: scroll;
  width: 100%;
}
