@import '../../variables';

.list-item {
  background-color: $white;
  animation-duration: .4s;
  align-items: center;
  border-radius: 5px;
  color: $grey-dark;
  cursor: pointer;
  display: flex;
  margin: 4px 0;
  height: 48px;
  width: 100%;

  .column {
    padding: 0 10px;

    &.avatar {
      justify-content: center;
      display: flex;
      width: 40px;
    }

    &.username {
      width: 150px;
    }

    &.placeholder {
      flex-grow: 1;
    }

    &.admin {
      text-transform: uppercase;
      color: $grey-medium;
      font-size: 14px;
      width: 50px;
    }

    &.actions {
      width: 40px;
    }
  }
}
